.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th,
.td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  text-transform: capitalize;
}

.thead {
  color: white;
  background-color: black;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}
